<!-- NOSOTROS -->
<section id="nosotros" class="py-24 bg-gradient-to-tl from-carbon to-gray-800 text-white">
  <div class="container mx-auto px-6 grid md:grid-cols-2 gap-12 items-center">
    <img src="https://images.unsplash.com/photo-1600948836101-f9ffda59d250" class="rounded-[50%_50%_10%_10%] shadow-[0_0_15px_5px] shadow-gold ring-1 ring-gold">
    <div>
      <h2 class="text-3xl font-bold mb-6 text-center">Sobre Nosotros</h2>
      <p class="text-gray-300 text-justify">
        En Lya Nails, transformamos el cuidado de tus uñas en una experiencia de arte y bienestar.
        Somos un estudio especializado en belleza y diseño de uñas, donde la técnica se fusiona con las últimas tendencias para crear estilos únicos y personalizados.
        Nuestro ambiente sofisticado y acogedor está diseñado para que cada visita sea un momento de relajación y disfrute, dejándote con unas manos impecables y una sonrisa radiante.
      </p>
    </div>
  </div>
</section>
