<!-- NOSOTROS -->
<section id="nosotros" class="py-24 bg-gradient-to-r from-carbon to-carbon text-white">
  <div class="container mx-auto px-6 grid md:grid-cols-2 gap-12 items-center">
    <img src="https://images.unsplash.com/photo-1600948836101-f9ffda59d250" class="rounded-[50%_50%_10%_10%] shadow-[0_0_15px_5px] shadow-gold ring-1 ring-gold">
    <div>
      <h2 class="text-3xl font-bold mb-6 text-center">Sobre Nosotros</h2>
      <p class="text-gray-300 text-justify">Somos un estudio especializado en belleza y diseño de uñas, combinando técnica, tendencias y un ambiente sofisticado para que vivas una experiencia única.</p>
    </div>
  </div>
</section>
