<!-- NAVBAR -->
<nav class="fixed top-0 left-0 w-full z-50 backdrop-blur-md bg-carbon/40 text-white transition-all duration-300">
  <div class="container mx-auto flex items-center justify-center md:justify-between px-6 py-4">
    <img src="assets/images/logo/Copilot_20251216_154710.png" alt="logo" class="w-16 sm:hidden">
    <div class="text-2xl font-bold tracking-wide">
    </div>
    <ul class="hidden md:flex space-x-8 text-xl font-medium items-center md:gap-1 lg:gap-10 xl:gap-24">
      <li><a href="#servicios" class="hover:text-gold">Servicios</a></li>
      <li><a href="#nosotros" class="hover:text-gold">Nosotros</a></li>
      <li>
        <img src="assets/images/logo/Copilot_20251216_154710.png" alt="logo" class="w-16">
      </li>
      <li><a href="#galeria" class="hover:text-gold">Galería</a></li>
      <li><a href="#testimonios" class="hover:text-gold">Testimoniales</a></li>
    </ul>
    <a href="#contacto" class="hidden md:block bg-gold text-carbon px-5 py-2 rounded-full text-sm font-medium shadow-lg bg-gradient-to-br from-gold to-nude hover:opacity-90 transition-opacity duration-300">Contacto</a>
  </div>
</nav>
