.hero-background-image {
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.hero-background-image.active {
  opacity: 1;
  transform: scale(1);
}
