.testimonial-card {
  box-shadow: 0 0 15px 0 #C9A24D;
  background-color: #1a1a1a;
  color: #cccccc;
  border-radius: 5.5rem; /* Bordes más redondeados */
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-15px);
}

.testimonial-img {
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 0 4px #d4af37;
  width: 80px;
  height: 80px;
  margin: 0 auto 1rem;
}
