.navbar {
  background: var(--warm-white);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.nav-logo {
  justify-self: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.nav-logo img {
  height: 60px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: var(--carbon-black);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-links:hover {
  color: var(--soft-gold);
  border-bottom: 3px solid var(--soft-gold);
}
